.login-form {
  padding: 20px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.login-form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form__container > * {
  height: 3.2rem;
  border-radius: 10px;
}

.login-form__input {
  background-color: #1e1e1e;
  border: none;
  padding: 1rem;
  font-size: 14px;
  color: white;
}

.login-form__input:focus {
  outline: none;
}

.login-form__btn {
  background-color: white;
  border: none;
  font-size: 14px;
  color: #c3c3c3;
}

.login-form__text {
  color: #c3c3c3;
}

.login-form__text a {
  color: #c3c3c3;
}