.profile {
  padding: 15px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__info-header {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.profile__info-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__info-followers {
  display: flex;
  gap: 6px;
}

.profile__info-followers-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__info-followers-cnt {
  color: #4d4d4d;
}

.profile__info-edit-profile-btn  {
  border: 1px solid #4d4d4d;
  border-radius: 8px;
  width: 100%;
  padding: 8px 20px;
}


/* edit profile pop up */

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  padding: 10px;
  border: 1px solid #4d4d4d;
  border-radius: 8px;
  z-index: 1000; 
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup__form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup__label {
  font-size: 14px;
}

.popup__input {
  outline: none;
  border: none;
  border-bottom: 1px solid #4d4d4d;
  padding-bottom: 6px;
}

.popup__btn {
  background-color: white;
  color: black;
  border-radius: 8px;
  border: none;
  padding: 10px;
}