.search {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search__input-wrapper {
  position: relative;
}

.search__icon {
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-55%);
  pointer-events: none;
  background-color: transparent;
}

.search__input {
  width: 100%;
  border: none;
  background-color: #4d4d4d;
  padding: 10px 10px 10px 35px;
  font-size: 1.1rem;
  border-radius: 7px;
}

.search__input:focus {
  outline: none;
}